<!-- <div class="container my-5">
    <h4 class="mb-4">Contas Financeiras</h4>

    <!-- Formulário para nova conta -->
<app-criar-conta></app-criar-conta>

<!-- Lista de contas -->
<div class="card shadow-sm border-0 mt-4">
    <div class="card-body p-0">
        <table class="table mb-0">
            <thead class="table-light">
                <tr>
                    <th>Conta</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let conta of contas">
                    <td>{{ conta.descricao }}</td>
                    <td>
                        <button class="btn btn-sm btn-outline-danger" (click)="excluir(conta.id)">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div> -->